In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

# Ejercicio 1

In [3]:
vuelosalpha = pd.read_csv("DelayedFlights.csv")

In [4]:
vuelosalpha

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [5]:
Total_delay = vuelosalpha['WeatherDelay'] + vuelosalpha['ArrDelay'] + vuelosalpha['CarrierDelay'] + vuelosalpha['DepDelay'] + vuelosalpha['LateAircraftDelay'] + vuelosalpha['NASDelay'] + vuelosalpha['SecurityDelay']

In [6]:
Total_delay

0            NaN
1            NaN
2            NaN
3          102.0
4            NaN
           ...
1936753     80.0
1936754    207.0
1936755    278.0
1936756      NaN
1936757      NaN
Length: 1936758, dtype: float64

In [7]:
vuelosalpha['Total_delay'] = Total_delay

In [8]:
vuelos_recortados = vuelosalpha.sample(n=200000, random_state=42)

In [9]:
vuelos_recortados

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Total_delay
1782417,6583804,2008,12,6,6,1805.0,1755,2146.0,2035,YV,...,99.0,0,N,0,71.0,0.0,0.0,0.0,0.0,152.0
512712,1604365,2008,3,23,7,2120.0,1200,2241.0,1333,NW,...,19.0,0,N,0,543.0,0.0,0.0,0.0,5.0,1656.0
447137,1395655,2008,3,31,1,1731.0,1710,1819.0,1810,OO,...,1.0,0,N,0,NaN,NaN,NaN,NaN,NaN,NaN
55082,178786,2008,1,6,7,1507.0,1413,1601.0,1509,OO,...,17.0,0,N,0,0.0,0.0,0.0,0.0,52.0,158.0
877634,2972767,2008,5,22,4,637.0,630,812.0,750,CO,...,16.0,0,N,0,0.0,0.0,15.0,7.0,0.0,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1106815,3683895,2008,7,26,6,1903.0,1850,1957.0,1945,WN,...,7.0,0,N,0,NaN,NaN,NaN,NaN,NaN,NaN
269784,858235,2008,2,9,6,1834.0,1810,2009.0,1953,US,...,7.0,0,N,0,16.0,0.0,0.0,0.0,0.0,56.0
627539,2001715,2008,4,16,3,1633.0,1626,1750.0,1745,OO,...,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN,NaN
292264,931040,2008,2,24,7,2137.0,2130,2337.0,2340,EV,...,16.0,0,N,0,NaN,NaN,NaN,NaN,NaN,NaN
554861,1737123,2008,3,23,7,1848.0,1630,2148.0,1935,B6,...,12.0,0,N,0,15.0,0.0,0.0,0.0,118.0,404.0

In [10]:
datos_relevantes = ['Month', 'Distance', 'AirTime', 'Origin', 'Dest', 'CancellationCode', 'Diverted', 'ArrDelay']

In [11]:
set(vuelosalpha['Year'])

{2008}

In [12]:
vueloscancelados = vuelosalpha['Cancelled'] == 0

In [13]:
vuelosN = vuelosalpha['CancellationCode'] == 'N'

In [14]:
target = vuelosN == vueloscancelados

In [15]:
len(target) - target.count()

0

In [16]:
vuelos = vuelos_recortados[datos_relevantes]

In [17]:
vuelos['ArrDelay'].fillna(0, inplace=True)

D:\users\ciberintegra_14\AppData\Local\Temp\ipykernel_8264\3900874131.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vuelos['ArrDelay'].fillna(0, inplace=True)

Ok, arriba esta todo lo que se hizo para llegar al resultado (que seria lo de abajo).

Antes de nada, cheque todos los datos y los estudie, eso no se ve en el codigo porque lo hice en mi cabeza. Los datos que termine escojiendo fueron.. bueno lo puedes ver abajo, pero, ¿porque?

### Los datos escojidos
Escoji un poco pensando en el ejercicio que sigue, siendo honesto, ya que estos datos (en su mayoria) son los necesarios para sacar el calculo que me piden.

Adicionalmente agrege Month, Origin, Dest, CancellationCode y Diverted. Los primeros tres porque creo que son datos esenciales aunque omiti los otros datos de fecha por considerarlos inecesariamente especificos o repetitivos (como año, que es siempre 2008) y los ultimos 2 por considerarlos anomalias a considerar.

### Sobre CancellationCode y Total_delay

#### CancellationCode:
Arriba puedes ver como hice un codigo para verificar si N considia siempre con 0 (Equivalencia a que no hubo retrazo) y viceversa. Podemos confirmar que siempre coinciden por lo que incluir ambas es redundar y CancellationCode incluye información adicional por lo que le di prioridad

#### Total_delay
Aquí sume todos los 'Delay' que existen para sacar el total y en el futuro usar el tiempo del retraso con facilidad en caso de que no nos importe las causas sino el tiempo. Tambien, como me pidio, todos los NaN fueron reemplazos por 0.
## Nota
Descubri que basicamente ArrDelay es lo mismo pero más exacto (ademas que lo estoy contando por lo que Total_delay es erroneo por que basicamente estamos duplicando el resultado).

In [18]:
vuelos

,Month,Distance,AirTime,Origin,Dest,CancellationCode,Diverted,ArrDelay
1782417,12,1297,177.0,IAD,AUS,N,0,71.0
512712,3,334,55.0,ORD,MSP,N,0,548.0
447137,3,150,44.0,SLC,PIH,N,0,9.0
55082,1,142,32.0,HDN,DEN,N,0,52.0
877634,5,817,134.0,JAX,IAH,N,0,22.0
...,...,...,...,...,...,...,...,...
1106815,7,248,42.0,SAT,DAL,N,0,12.0
269784,2,508,85.0,CLT,TPA,N,0,16.0
627539,4,326,56.0,BUR,SFO,N,0,5.0
292264,2,793,99.0,ATL,SYR,N,0,-3.0
554861,3,1144,163.0,BUF,RSW,N,0,133.0

# Ejercicio 2

Abajo vemos el resumen de las estadisticas y a continuación comparto mis conclusiones. 
###### Month 
Lo único que puedo concluir es que de los datos que poseemos la ligera mayoria son de la segunda mitad del año.
###### Distance
Hay dos cosas que me llaman la atención en esta variable, Min: Me sorprendio la poca distancia del vuelo más corto, supongo que serán vuelos de estados muy cercanos y Std: que muestra que la distancia de los vuelos son significativamente diferente aunque tampoco es algo que yo concideraria como variaciones demasiado altas.
###### AirTime
Probablemente lo más notorio es que min es 0 cuando existen nulls en esta variables, pero hize un programa para revisar si los null coincidian coincidian con los vuelos cancelados (In[69]) y los desviados (In[70]), sumados resultan que coiniden con los null. Así que supongo que ya se invento la teleportación y nadie me aviso porque no encuentro otra explicación.
###### Diverted
Lo único a considerar es que (naturalmente) hay muchos menos desvios que no desvios
###### ArrDelay
Lo más notable es la existencia de números negativos que supongo que se supone a la existencia de vuelos que llegaron temprano. Y que no hay nulls que es devido a que los elimine a su petición aunque antes cheque y eran iguales a los AirTime (La petición me la hizo,creo, el miercoles 15).

In [19]:
vuelos.describe()

,Month,Distance,AirTime,Diverted,ArrDelay
count,200000.000000,200000.00000,199127.000000,200000.000000,200000.000000
mean,6.106975,764.96174,108.197070,0.004065,42.186505
std,3.476865,572.85671,68.472446,0.063628,56.948641
min,1.000000,11.00000,0.000000,0.000000,-57.000000
25%,3.000000,340.00000,58.000000,0.000000,9.000000
50%,6.000000,607.00000,90.000000,0.000000,24.000000
75%,9.000000,998.00000,137.000000,0.000000,56.000000
max,12.000000,4962.00000,644.000000,1.000000,2453.000000

In [20]:
(vuelos['CancellationCode'] != 'N').sum()

60

In [21]:
(vuelos['Diverted'] != 0).sum()

813

## Datos faltantes hay por columna

In [22]:
vuelos.isnull().sum()

Month                 0
Distance              0
AirTime             873
Origin                0
Dest                  0
CancellationCode      0
Diverted              0
ArrDelay              0
dtype: int64

## Crear nuevas columnas

In [23]:
VelocidadMedia = (vuelos['Distance'] / vuelos['AirTime'])

In [24]:
VelocidadMedia

1782417    7.327684
512712     6.072727
447137     3.409091
55082      4.437500
877634     6.097015
             ...
1106815    5.904762
269784     5.976471
627539     5.821429
292264     8.010101
554861     7.018405
Length: 200000, dtype: float64

In [25]:
vuelos['VelocidadMedia'] = VelocidadMedia

D:\users\ciberintegra_14\AppData\Local\Temp\ipykernel_8264\664534749.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vuelos['VelocidadMedia'] = VelocidadMedia

In [27]:
def etiquetar_retraso(Arr_Delay):
    if Arr_Delay == 0:
        return 'Sin retraso'
    elif Arr_Delay > 0:
        return 'Con retraso'
    else:
        return 'Llego más temprano'

In [29]:
Retraso = vuelos['ArrDelay'].apply(etiquetar_retraso)

In [30]:
Retraso

1782417           Con retraso
512712            Con retraso
447137            Con retraso
55082             Con retraso
877634            Con retraso
                  ...
1106815           Con retraso
269784            Con retraso
627539            Con retraso
292264     Llego más temprano
554861            Con retraso
Name: ArrDelay, Length: 200000, dtype: object

In [31]:
vuelos['Retraso'] = Retraso

D:\users\ciberintegra_14\AppData\Local\Temp\ipykernel_8264\813572571.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vuelos['Retraso'] = Retraso

In [32]:
vuelos

,Month,Distance,AirTime,Origin,Dest,CancellationCode,Diverted,ArrDelay,VelocidadMedia,Retraso
1782417,12,1297,177.0,IAD,AUS,N,0,71.0,7.327684,Con retraso
512712,3,334,55.0,ORD,MSP,N,0,548.0,6.072727,Con retraso
447137,3,150,44.0,SLC,PIH,N,0,9.0,3.409091,Con retraso
55082,1,142,32.0,HDN,DEN,N,0,52.0,4.437500,Con retraso
877634,5,817,134.0,JAX,IAH,N,0,22.0,6.097015,Con retraso
...,...,...,...,...,...,...,...,...,...,...
1106815,7,248,42.0,SAT,DAL,N,0,12.0,5.904762,Con retraso
269784,2,508,85.0,CLT,TPA,N,0,16.0,5.976471,Con retraso
627539,4,326,56.0,BUR,SFO,N,0,5.0,5.821429,Con retraso
292264,2,793,99.0,ATL,SYR,N,0,-3.0,8.010101,Llego más temprano
554861,3,1144,163.0,BUF,RSW,N,0,133.0,7.018405,Con retraso

## Mesa de las aerolíneas con mayores retrasos acumulados

In [37]:
vuelos['UniqueCarrier'] = vuelosalpha['UniqueCarrier']

D:\users\ciberintegra_14\AppData\Local\Temp\ipykernel_8264\789266301.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vuelos['UniqueCarrier'] = vuelosalpha['UniqueCarrier']

In [38]:
vuelos

,Month,Distance,AirTime,Origin,Dest,CancellationCode,Diverted,ArrDelay,VelocidadMedia,Retraso,UniqueCarrier
1782417,12,1297,177.0,IAD,AUS,N,0,71.0,7.327684,Con retraso,YV
512712,3,334,55.0,ORD,MSP,N,0,548.0,6.072727,Con retraso,NW
447137,3,150,44.0,SLC,PIH,N,0,9.0,3.409091,Con retraso,OO
55082,1,142,32.0,HDN,DEN,N,0,52.0,4.437500,Con retraso,OO
877634,5,817,134.0,JAX,IAH,N,0,22.0,6.097015,Con retraso,CO
...,...,...,...,...,...,...,...,...,...,...,...
1106815,7,248,42.0,SAT,DAL,N,0,12.0,5.904762,Con retraso,WN
269784,2,508,85.0,CLT,TPA,N,0,16.0,5.976471,Con retraso,US
627539,4,326,56.0,BUR,SFO,N,0,5.0,5.821429,Con retraso,OO
292264,2,793,99.0,ATL,SYR,N,0,-3.0,8.010101,Llego más temprano,EV
554861,3,1144,163.0,BUF,RSW,N,0,133.0,7.018405,Con retraso,B6

In [41]:
(vuelos.groupby('UniqueCarrier')['ArrDelay'].sum()).sort_values(ascending=False)

UniqueCarrier
WN    1178394.0
AA     910681.0
UA     696819.0
MQ     665562.0
OO     619404.0
XE     543941.0
DL     470912.0
CO     427113.0
EV     402521.0
YV     380899.0
US     379200.0
NW     344490.0
FL     323474.0
B6     315833.0
OH     272824.0
9E     245790.0
AS     146267.0
F9      83705.0
HA      27816.0
AQ       1656.0
Name: ArrDelay, dtype: float64

## Vuelos más atrasados y más largos

In [42]:
vuelos.sort_values(by='ArrDelay', ascending = False)

,Month,Distance,AirTime,Origin,Dest,CancellationCode,Diverted,ArrDelay,VelocidadMedia,Retraso,UniqueCarrier
686014,4,930,132.0,CLT,MSP,N,0,2453.0,7.045455,Con retraso,NW
685437,4,449,63.0,MOT,MSP,N,0,1542.0,7.126984,Con retraso,NW
521096,3,200,47.0,BNA,MEM,N,0,1490.0,4.255319,Con retraso,NW
1400101,8,988,124.0,SLC,DFW,N,0,1286.0,7.967742,Con retraso,AA
1502764,9,813,112.0,TUS,DFW,N,0,1186.0,7.258929,Con retraso,AA
...,...,...,...,...,...,...,...,...,...,...,...
111987,1,1377,163.0,LAS,MLI,N,0,-54.0,8.447853,Llego más temprano,FL
1513039,9,2777,301.0,HNL,ANC,N,0,-54.0,9.225914,Llego más temprano,AS
1709922,11,2475,304.0,JFK,LAX,N,0,-55.0,8.141447,Llego más temprano,AA
47902,1,1522,207.0,JFK,AUS,N,0,-55.0,7.352657,Llego más temprano,OH
1419772,8,1605,194.0,EWR,DEN,N,0,-57.0,8.273196,Llego más temprano,CO

In [43]:
vuelos.sort_values(by='Distance', ascending = False)

,Month,Distance,AirTime,Origin,Dest,CancellationCode,Diverted,ArrDelay,VelocidadMedia,Retraso,UniqueCarrier
1729023,11,4962,597.0,EWR,HNL,N,0,46.0,8.311558,Con retraso,CO
556361,3,4962,527.0,HNL,EWR,N,0,-5.0,9.415560,Llego más temprano,CO
1519287,9,4962,NaN,HNL,EWR,N,1,0.0,NaN,Sin retraso,CO
877910,5,4962,578.0,HNL,EWR,N,0,39.0,8.584775,Con retraso,CO
1922433,12,4962,613.0,EWR,HNL,N,0,-12.0,8.094617,Llego más temprano,CO
...,...,...,...,...,...,...,...,...,...,...,...
1614474,10,31,16.0,WRG,PSG,N,0,34.0,1.937500,Con retraso,AS
549207,3,31,10.0,PSG,WRG,N,0,8.0,3.100000,Con retraso,AS
179182,1,30,11.0,SJC,SFO,N,0,21.0,2.727273,Con retraso,CO
774654,5,11,31.0,JFK,LGA,N,0,145.0,0.354839,Con retraso,OH
1310766,8,11,14.0,JFK,LGA,N,0,55.0,0.785714,Con retraso,OH

Aquí se ordeno las tablas según lo solicitado. 
### Nota Sobre La Actividad De Crear Columnas
Si checa la VelocidadMedia de esta última tabla vera que hay un NaN cuando pidio que una ocación que era mejor convertirlo a 0 pero esto hubiero puesto en duda la efectividad del codigo de la actividad donde se checan los null así que deje AirTime con sus null lo que a su vez esta causando los null en VelocidadMedia

# Ejercicio 3

In [44]:
vuelos.to_excel("Vuelos.xlsx", index=False)

Subo el archivo al Github